# نرمال‌سازی line-ending‌ها در همه‌ی پلتفرم‌ها
* text=auto eol=lf

# فایل‌های باینری
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
