# پورت سرور (پیش‌فرض: 3000)
PORT=3000

# کلید رمزگذاری JWT
JWT_SECRET=super_secret_key_change_me_in_production_f8a9e102bc

# مسیر دیتابیس (پیش‌فرض در فولدر جاری: database.sqlite)
DB_STORAGE=database.sqlite
